.buttons {
    padding: 2em;
}

.upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 2em;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
